@import url("../src/css/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "vazir";
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}

html {
  font-size: 62.5%;
}

/* TodoApp Styles  */

.todo-app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 0;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.header h2 {
  font-size: 2.5rem;
  color: #222;
}

/* TodoForm Styles  */

.todo-form {
  margin-bottom: 5rem;
  width: 40%;
  display: flex;
  justify-content: center;
}

.todo-form form {
  display: flex;
  flex: 1;
}

.todo-form input {
  flex: 1;
  border: 2px solid #581c87;
  border-radius: 0.3rem;
  margin-left: -0.3rem;
  padding: 0.5rem 2rem;
}

.todo-form input:focus {
  background-color: #e9d5ff;
}

.todo-form button {
  background-color: #581c87;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* TodoList Styles  */

.todo-list {
  width: 40%;
}

/* TodoItem Styles */

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-65deg, #b356f1, #600496);
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.todo-item.deactive {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-title {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todo-title h4 {
  color: #fff;
  flex: 1;
}

.todo-title span {
  font-size: 1.2rem;
}

.todo-item button {
  background-color: transparent;
  margin-right: 1.5rem;
}

.todo-item button svg {
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
  margin-top: 0.6rem;
  transition: all 0.2s ease-in;
}

.buttons .edit-btn svg:hover {
  color: rgb(245, 70, 7);
}

.buttons .trash-btn svg:hover {
  color: rgb(245, 12, 12);
}

/* Modal Styles */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 60vh;
  height: 300px;
  flex-direction: column;
  position: relative;
}

.modal-content h3 {
  position: absolute;
  top: 5px;
}

.modal-content input {
  flex: 1;
  border: 2px solid #581c87;
  border-radius: 0.3rem;
  margin-left: -0.3rem;
  padding: 0.5rem 2rem;
}

.modal-content input:focus {
  background-color: #e9d5ff;
}

.modal-content form button.edit-btn {
  background-color: #581c87;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 4px;
  right: 2px;
  background-color: #fff;
  cursor: pointer;
}

.close-modal svg {
  font-size: 3rem;
}

/* Search And Filter And Sort Styles  */

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.search input {
  border-bottom: 1px solid #222;
  padding: 0.5rem 2rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.filter-container .filter {
  display: flex;
}

.filter-container .filter button {
  background: linear-gradient(25deg, #92bffa, #60a5fa);
  color: #fff;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.filter button.active {
  background: linear-gradient(25deg, #0767e6, #032a94);
  color: #fff;
}

.sort {
  font-size: 1.6rem;
  border: 1px solid rgb(160, 158, 158);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
}

.sort:focus {
  border: 2px solid #581c87;
}

/* Media Queries  */

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .todo-form {
    width: 70%;
  }
  .todo-list {
    width: 70%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .todo-form button {
    font-size: 1.6rem;
  }
  .modal-content {
    width: 70vw;
  }
  .modal-content form button.edit-btn {
    padding: 0.7rem 1rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
  .todo-form {
    width: 90%;
  }
  .todo-list {
    width: 90%;
  }
  .todo-form button {
    font-size: 1.4rem;
  }
  .modal-content {
    width: 90vw;
  }
  .modal-content form button.edit-btn {
    padding: 0.8rem 1rem;
  }
}
